.reset-password-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-input {
    padding-right: 10px;
  }
  
  .custom-button {
    --border-radius: 20px;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  