// Variables de colores personalizados
:root {
  --ion-color-primary: #0033A0; /* Azul DuocUC */
  --ion-color-secondary: #FFD100; /* Amarillo DuocUC */
  --ion-color-primary-contrast: #ffffff;
  --ion-color-secondary-contrast: #000000;
}
