// Variables de colores personalizados
:root {
  --ion-color-primary: #0033A0; /* Azul DuocUC */
  --ion-color-secondary: #FFD100; /* Amarillo DuocUC */
  --ion-color-primary-contrast: #ffffff;
  --ion-color-secondary-contrast: #000000;
}
:root {
  --ion-color-primary: #002f87; /* Azul DuocUC */
  --ion-color-secondary: #ffb600; /* Amarillo DuocUC */
  --ion-color-light: #f4f4f4;
  --ion-color-dark: #222428;
}
