<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido a RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a RegistrAPP para DuocUC</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Esta aplicación te permite registrar tu asistencia y acceder a tu historial en un solo lugar.
        Escanea el código QR para registrar tu entrada.
      </p>
      <ion-button expand="block" color="success" routerLink="/home">Iniciar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
