.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
}

.welcome-message {
  text-align: center;
  margin: 20px 0;
}

.welcome-message h2 {
  font-size: 1.5rem;
  color: #003366;
}

.welcome-message p {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}
