<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Welcome to RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Logo de la aplicación -->
  <div class="logo-container">
    <img src="assets/icon/duocucregistrapp.png" alt="RegistrAPP Logo" class="logo" />
  </div>

  <!-- Mensaje de bienvenida -->
  <div class="welcome-message">
    <h2>Bienvenido a RegistrAPP</h2>
    <p>La manera más rápida y eficiente de registrar tu asistencia.</p>
  </div>

  <!-- Botones de navegación -->
  <ion-button expand="block" color="warning" [routerLink]="'/login'">Iniciar Sesión</ion-button>
  <ion-button expand="block" color="light" [routerLink]="'/signup'">Registrarse</ion-button>
  <ion-button expand="block" color="medium" [routerLink]="'/reset-password'">Recuperar Contraseña</ion-button>
</ion-content>
