.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f4f4f4;
}

ion-button {
  margin-top: 20px;
  --background: #0033A0; /* Cambia este color a los colores de DuocUC */
  --color: white;
}
