ion-content {
  --background: #f2f2f2; /* Fondo claro */
}

ion-toolbar {
  background-color: #013e6b; /* Azul DuocUC */
}

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-container {
  text-align: center;
}

h1 {
  color: #002855; /* Azul característico de DuocUC */
  font-size: 2.2rem;
  margin-bottom: 20px;
}

ion-button {
  --background: #002855; /* Botón azul DuocUC */
  --color: #ffffff; /* Texto blanco */
}
