ion-header {
    --background: #003da5;
    --color: white;
  }
  
  ion-title {
    font-family: 'Arial', sans-serif;
  }
  
  ion-button {
    --border-radius: 10px;
    font-size: 18px;
  }
  
  ion-content {
    --background: #f0f0f5;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  