<ion-header>
  <ion-toolbar color="primary">
    <ion-title>RegistrAPP para DuocUC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escanee su código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="success" (click)="scanQRCode()">
        Escanear Código QR
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ver Historial de Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="tertiary" [routerLink]="['/attendance-history']">
        Historial de Asistencias
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
