.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.logo {
  width: 50px;
  height: auto;
  float: right;
}

.center-content {
  text-align: center;
  padding-top: 20px;
}

ion-content {
  --background: #002855; /* Color característico de DuocUC */
}

ion-toolbar {
  background-color: #013e6b; /* Color del header DuocUC */
}

h2 {
  color: #ffc20e; /* Amarillo DuocUC */
  font-size: 1.6rem;
}

ion-button {
  --background: #ffc20e; /* Botones en amarillo */
  --color: #002855; /* Texto del botón en color azul DuocUC */
}

ion-button[color="tertiary"] {
  --background: #002855;
  --color: white;
}
