ion-content {
  --background: #000;
  text-align: center;
}

.logo-container {
  margin-top: 20px;
}

.logo {
  max-width: 200px;
  margin: auto;
}

h2 {
  color: white;
  margin-top: 20px;
}

.qr-container {
  margin-top: 30px;
}

ion-card {
  margin-top: 20px;
}
