<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">RegistrAPP para DuocUC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-logo-container">
    <img src="assets/duocuc-logo.png" alt="DuocUC Logo" class="logo-img">
  </div>
  
  <div class="home-qr-container">
    <h2 class="ion-text-center">Escanee su código QR</h2>
    <ion-button expand="block" color="tertiary" (click)="startScan()">Escanear QR</ion-button>
  </div>

  <div class="home-attendance-history-container">
    <h2 class="ion-text-center">Historial de Asistencia</h2>
    <ion-button expand="block" color="secondary" (click)="goToAttendanceHistory()">Ver Historial</ion-button>
  </div>
</ion-content>
